<h1 class='title'>Seattle, WA</h1> 
  <div class='left'> 
    <ul class='weather-list'>
      <li>Humidity: {{weather.main.humidity}}</li>
      <li>Temperature: {{weather.main.temp}}</li>
      <li>Temperature (Low): {{weather.main.temp_min}}</li>
      <li>Temperature (High): {{weather.main.temp_max}}</li>
      <li>Status: {{weather.weather[0].description}}</li>
    </ul>    
  </div>
   <div class='right'>
    <div class='frame'><img src="https://images.pexels.com/photos/37350/space-needle-seattle-washington-cityscape.jpg?h=350&auto=compress&cs=tinysrgb"></div>
  </div> 