.ss3-field{
    height: 140px;
    border: 2px solid black;
}

legend {
    font-family: sans-serif;
}

.power-div{
    font-family: sans-serif;
    font-size: 16px;
    margin: 5px 0px 0px 20px; 
}

.msg{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 0px 30px; 
    font-family: sans-serif;
}